asgiref
attrs
autopep8
colorama
coverage
Django
docopt
Faker
flake8
iniconfig
mccabe
mypy
mypy-extensions
packaging
parameterized
Pillow
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-django
pytest-watch
python-dateutil
python-dotenv
pytz
six
sqlparse
text-unidecode
toml
typing_extensions
watchdog
whitenoise
